body {
  font-family: 'Chakra Petch', sans-serif;
}

header {
  height: 100px;
  margin-top: 0;
}

#title {
  display: flex;
  justify-content: center;
  /* background-color: lightblue; */
  width: 75%;
  transform: translate(16.75%);
  font-family: 'Bungee', cursive;
  font-size: 24px;
  margin-top: 0;
  height: 100px;
}

h1 {
  height: 100px;
  margin: 0;
}

.redirect {
  text-decoration: none;
  color: black;
  transition: all 80ms ease-out;
  height: 100px;
}

.redirect:active,
.redirect:target {
  color: rgb(118, 118, 118);

}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-vert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  margin-bottom: 5px;
}


.redirect:visited {
  background-color: transparent;
  text-decoration: none;
}

#selector-container {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 45%;
  top: 15%;
}

.text-center {
  margin: 5px 0 5px 0;
  padding: 0;
  font-weight: bold;
}

#color-selector {
  width: 50px;
  height: 50px;
  margin-top: 1px;
  overflow: hidden;
}

.color-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  margin: 20px;
}

.btn-border {
  margin-right: 5px;
}

.btn-1 {
  /* background-color: lightblue; */
  padding: 5px;
  box-shadow: 0 0 3px rgb(102, 127, 135);
  border-radius: 8px;
}

.btn-1:active {
  box-shadow: 0 0 3px rgb(154, 191, 203);
}


#acct{
  display: flex;
  width: 100%;

.centered-canvas-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

@media only screen and (max-width: 768px) {

  #title {
    display: flex;
    justify-content: center;
    /* background-color: lightblue; */
    width: 75%;
    transform: translate(16.75%);
    font-family: 'Bungee', cursive;
    font-size: 12px;
    margin-top: 0;
    height: 100px;
  }

  #color-selector {
    height: 40px;
    width: 40px;
    margin-top: 40px;
  }

  .navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    flex-direction: column;
    /* transform: translate(-100%, 50%); */
    align-items: center;
    left: 0;
    top: 40px;
  }

  .btn-border {
    margin-bottom: 20px;
  }

}